In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_excel("Universal_bank_dataset.xls", sheet_name='Data') 
df = df.drop(columns=['ZIP Code', 'ID'])
df.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

## Split data

In [3]:
X = df.iloc[:, [0,1,2,3,4,5,6,8,9,10,11]]
y = df.loc[:,['Personal Loan']]

In [4]:
X.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,1,0,0,0
1,45,19,34,3,1.5,1,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,1

In [5]:
y.head()

   Personal Loan
0              0
1              0
2              0
3              0
4              0

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state = 1992)
X_train.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
4810,58,34,11,2,0.3,1,96,0,0,1,0
1675,60,35,119,2,3.9,1,0,1,0,1,0
518,28,4,34,1,1.8,2,0,0,0,1,0
563,51,27,12,4,1.0,1,0,0,0,1,0
4446,61,35,61,3,2.2,3,117,0,0,1,1

## Normalize

In [7]:
normalize = StandardScaler()
X_train = normalize.fit_transform(X_train)
X_test = normalize.transform(X_test)

## Predict new customer ( k=1 )

In [8]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)
print(classification_report(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """

              precision    recall  f1-score   support

           0       0.97      0.99      0.98      1803
           1       0.84      0.69      0.75       197

    accuracy                           0.96      2000
   macro avg       0.90      0.84      0.87      2000
weighted avg       0.95      0.96      0.95      2000

In [9]:
df_new_customer = pd.read_excel("Universal_bank_dataset.xls", sheet_name='New Customer')
df_new_customer

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,40,10,84,2,2,2,0,NaN,0,0,1,1

In [10]:
df_new_customer = df_new_customer.drop(columns=['Personal Loan'])
df_new_customer

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,40,10,84,2,2,2,0,0,0,1,1

In [11]:
X_new_customer = normalize.transform(df_new_customer)

y_pred_new_customer = knn.predict(X_new_customer)
y_pred_new_customer[0]

0

0 = False

## Find best k

In [12]:
from sklearn.metrics import accuracy_score

accuracy = []
# Calculating error for K values between 1 and 20
for i in range(1, 21):
    knn = KNeighborsClassifier(n_neighbors=i, metric = 'euclidean')
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    accuracy.append(accuracy_score(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys
C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  import sys

In [13]:
accuracy

[0.956,
 0.95,
 0.9575,
 0.9505,
 0.955,
 0.951,
 0.9555,
 0.951,
 0.9545,
 0.946,
 0.95,
 0.9445,
 0.9495,
 0.945,
 0.9485,
 0.944,
 0.9455,
 0.9425,
 0.946,
 0.941]

In [14]:
max(accuracy)

0.9575

## Classification matrix for the validation data that results by varying k.

In [15]:
knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)
print(classification_report(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

              precision    recall  f1-score   support

           0       0.97      0.99      0.98      1803
           1       0.84      0.69      0.75       197

    accuracy                           0.96      2000
   macro avg       0.90      0.84      0.87      2000
weighted avg       0.95      0.96      0.95      2000

In [16]:
knn = KNeighborsClassifier(n_neighbors = 2)
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)
print(classification_report(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

              precision    recall  f1-score   support

           0       0.95      1.00      0.97      1803
           1       0.95      0.52      0.67       197

    accuracy                           0.95      2000
   macro avg       0.95      0.76      0.82      2000
weighted avg       0.95      0.95      0.94      2000

In [17]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)
print(classification_report(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

              precision    recall  f1-score   support

           0       0.96      0.99      0.98      1803
           1       0.92      0.62      0.74       197

    accuracy                           0.96      2000
   macro avg       0.94      0.81      0.86      2000
weighted avg       0.96      0.96      0.95      2000

In [18]:
knn = KNeighborsClassifier(n_neighbors = 4)
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)
print(classification_report(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

              precision    recall  f1-score   support

           0       0.95      1.00      0.97      1803
           1       0.95      0.52      0.68       197

    accuracy                           0.95      2000
   macro avg       0.95      0.76      0.82      2000
weighted avg       0.95      0.95      0.94      2000

In [19]:
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)
print(classification_report(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

              precision    recall  f1-score   support

           0       0.96      1.00      0.98      1803
           1       0.93      0.58      0.72       197

    accuracy                           0.95      2000
   macro avg       0.95      0.79      0.85      2000
weighted avg       0.95      0.95      0.95      2000

In [20]:
knn = KNeighborsClassifier(n_neighbors = 6)
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)
print(classification_report(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

              precision    recall  f1-score   support

           0       0.95      1.00      0.97      1803
           1       0.96      0.52      0.68       197

    accuracy                           0.95      2000
   macro avg       0.96      0.76      0.83      2000
weighted avg       0.95      0.95      0.94      2000

In [21]:
knn = KNeighborsClassifier(n_neighbors = 7)
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)
print(classification_report(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

              precision    recall  f1-score   support

           0       0.96      1.00      0.98      1803
           1       0.96      0.57      0.72       197

    accuracy                           0.96      2000
   macro avg       0.96      0.79      0.85      2000
weighted avg       0.96      0.96      0.95      2000

In [22]:
knn = KNeighborsClassifier(n_neighbors = 8)
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)
print(classification_report(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

              precision    recall  f1-score   support

           0       0.95      1.00      0.97      1803
           1       0.98      0.51      0.67       197

    accuracy                           0.95      2000
   macro avg       0.96      0.76      0.82      2000
weighted avg       0.95      0.95      0.94      2000

In [23]:
knn = KNeighborsClassifier(n_neighbors = 9)
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)
print(classification_report(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

              precision    recall  f1-score   support

           0       0.95      1.00      0.98      1803
           1       0.98      0.55      0.70       197

    accuracy                           0.95      2000
   macro avg       0.97      0.77      0.84      2000
weighted avg       0.96      0.95      0.95      2000

In [24]:
knn = KNeighborsClassifier(n_neighbors = 10)
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)
print(classification_report(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

              precision    recall  f1-score   support

           0       0.94      1.00      0.97      1803
           1       0.98      0.46      0.63       197

    accuracy                           0.95      2000
   macro avg       0.96      0.73      0.80      2000
weighted avg       0.95      0.95      0.94      2000

## Predict new customer with best k ( k=3 )

In [25]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)
print(classification_report(y_test, y_pred))

C:\Users\Nu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

              precision    recall  f1-score   support

           0       0.96      0.99      0.98      1803
           1       0.92      0.62      0.74       197

    accuracy                           0.96      2000
   macro avg       0.94      0.81      0.86      2000
weighted avg       0.96      0.96      0.95      2000

In [26]:
y_pred_new_customer = knn.predict(X_new_customer)
y_pred_new_customer[0]

0

0 = False